
    # Environments
    .env
    .env.*
    !.env.example
    
    # Node modules
    frontend/node_modules
    
    # Python
    backend/__pycache__
    model/__pycache__
    backend/.venv
    backend/venv
    
    # Docker
    redis_data
    
    # 환경변수 
    .env