# PostgreSQL 데이터베이스 설정
DB_HOST=carfin-db.cbkayiqs4div.ap-northeast-2.rds.amazonaws.com
DB_USER=carfin_admin
DB_PASSWORD=carfin_secure_password_2025
DB_NAME=carfin
DB_PORT=5432

# KB 차차차 네이버 로그인 정보
NAVER_ID=your_naver_id
NAVER_PASSWORD=your_naver_password

# Airflow 설정
AIRFLOW_UID=50000
# 데이터 암호화용 키 (Connection, Variable 등)
AIRFLOW__CORE__FERNET_KEY=Lt0vZ44BYkjF5PL0XSsyrX71WzBsM_DsMXOQ6i1PGw0=
# 내부 컴포넌트 인증용 키 (Scheduler ↔ API Server)
AIRFLOW__API_AUTH__JWT_SECRET=mICcFO1siNW6OKz2RmMfXkAyP4boj9AhVbX_A54Ta1M

# Airflow 웹 UI 계정
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin1234

# AWS 배포용 환경 변수
ECR_REGISTRY=440744214430.dkr.ecr.ap-northeast-2.amazonaws.com
ECR_REPOSITORY=car-fin-airflow

# Slack 알림 설정
# Airflow UI의 Admin > Connections에서 설정하세요
# Connection ID: slack_webhook
# Connection Type: HTTP
# Host: https://hooks.slack.com/services
# Password: T00000000/B00000000/XXXXXXXXXXXX (Webhook URL의 뒷부분)

